<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/Bootstrap/css/bootstrap.min.css">
    <link href="~/Content/DatePicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Content/Bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/DatePicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/DatePicker/locales/bootstrap-datepicker.es.min.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Migrantes", "Migrante", "AreaNutricion", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Locales", "Local", "AreaNutricion", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Indicadores", "Indicadores", "AreaNutricion", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Reportes", "Reporte", "AreaNutricion", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div> 

    @RenderBody()
    @RenderSection("scripts", required: false)

</body>
</html>
